{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Dashboard</h1>
    {% with total_images_created=request.user.images_created.count %}
        <p>Welcome to your dashboard. You have
        {{total_images_created }} image{{ total_images_created|pluralize }} posts.</p>
    {% endwith %}
    <p><a href="{% url 'images:create' %}" class="button">Create new post</a></p>
    <p>You can also <a href="{% url "edit" %}">edit your profile</a> or
    <a href="{% url "password_change" %}">change your password</a>.<p>
{% endblock %}